.body {
    font-family: Arial, Helvetica, sans-serif;
}
.d1 {
    text-align: end;
    display: flex;
}
.d1a {
    padding: 0px 10px 0px 10px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
    background-color: rgb(209, 199, 199);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.d2 {
    font-size: 15px;
    text-align: justify;
}
.card {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}